body {
    background-image: url("imagenes/mine2.jpg");
    font-family: 'Merienda','times new roman', sans-serif;    
  }
  
#band-last-info h2 {
  text-align: left;
}
  
#list-container {
  display: flex;
  justify-content: space-around;
}

#titulo{
  text-align: center ; 
  color: black; 
  font-family: 'Merienda','Times New Roman', Times, serif; 
  font-size: 250%;
}
    
table {
  border-spacing: 20px;
  text-align: center;
  margin: auto;
}
.fotos{
  border: 6px solid rgb(0, 0, 0);
  border-radius: 10px;
  position: relative;
  width: 50%;
}
.fotos:hover{
  box-shadow: 0 0 3px 2px black;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#navbar{
  display: block;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 70%;
  color:rgb(248, 156, 36);
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

#navbar{
  display: block;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 100%;
  color:rgb(248, 156, 36);
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.navbarElem{
  color:rgb(248, 156, 36);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.contenedor {
  padding: 1% 1%;
  margin-bottom: 1%;
  background-color: rgba(170, 183, 211, 0.75);
  border-radius: 0.4%;
  font-size: 120%;
}

.contenedorTitulo{
  text-align: center;
  padding: 1% 1%;
  margin-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1%;
  font-size: 300%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenedorSubtitulo{
  font-size: 140%;
  padding: 1% 1%;
  margin-bottom: 1%;
  background-color: rgba(117, 131, 160, 0.85);
  border-radius: 1%;
  text-align: center;
}

.contenedor {
  padding: 1% 1%;
  margin-bottom: 1%;
  background-color: rgba(170, 183, 211, 0.75);
  border-radius: 0.4%;
  font-size: 120%;
}