body {
    background-color: #EEE;
    
    font-family: 'times new roman', sans-serif;
    font-size: 35px;
    
  }
  
#band-last-info h2 {
  text-align: left;
}
  
#list-container {
  display: flex;
  justify-content: space-around;
}

#titulo{
  text-align: center ; 
  color: black; 
  font-family: 'Times New Roman', Times, serif; 
  font-size: 40px;
}


img{
  border: 6px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0px;
  width: 300px;
}

body{
  background-image: url("imagenes/mine2.jpg");
}
    
table {
  border-spacing: 20px;
  text-align: center;
}

.fotos:hover{
  box-shadow: 0 0 3px 2px black;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
