body {
    background-color: #EEE;
    
    font-family: 'times new roman', sans-serif;
    font-size: 35px;
    
  }
  
  #band-last-info h2 {
    text-align: left;
  }
  
  #list-container {
    display: flex;
    justify-content: space-around;
  }
  
