table, th, td{
    padding: 15px;
}

#integTitulo{
    text-align: center;
    font-size: 310%;
}

#tabla{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#goinfo{
    text-align: center;
    background-color: turquoise;
}

#gomusic{
    text-align: center;
    background-color: rgb(223, 96, 199);
}

#imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.parrafo{
    text-align: justify;
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    padding:5px;
    box-sizing:border-box;
}

.ultInfo{
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
}

.infotabla{
    font-size: 20px;
    font-size: 120%;
    
}

.gente{
    font-size: 140%; 
    padding: 1% 1%;
    margin-bottom: 1%;
    background-color: rgba(170, 183, 211, 0.75);
    border-radius: 1%;

}

.contenedor {
    padding: 1% 1%;
    margin-bottom: 1%;
    background-color: rgba(170, 183, 211, 0.75);
    border-radius: 0.4%;
}

.contenedorTitulo{
    text-align: center;
    padding: 1% 1%;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-size: 300%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
