table, th, td{
    padding: 15px;
}
    
#mainTitulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#integTitulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 310%;
}

#tabla{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#goinfo{
    text-align: center;
    background-color: turquoise;
}

#gomusic{
    text-align: center;
    background-color: magenta;
}

#imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    padding:5px;
    box-sizing:border-box;
}

.ultInfo{
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
}

.infotabla{
    font-size: 20px;
    font-size: 120%;
    
}

#gente{
    font-size: 140%;

}

.contenedor {
    padding: 2rem 1rem;
    margin-bottom: 1%;
    background-color: rgba(170, 183, 211, 0.75);
    border-radius: 1%;
  }

  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }