body{
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
    background-color:rgb(39, 185, 178);
}

#player{
    background-color:rgb(235, 20, 128);
    width: 300px;
    margin-right:300px;
    padding:5px;
    box-sizing:border-box;
}
input[type="image"]{
    float:left;
    height:20px;
    margin-left:2px;
    margin-right:5px;
    margin-top:2px;
}
#volImg{
 margin-left:10px;
 margin-top: 0px;
 padding: 4px;
 height: 20px;
 width:20px;
}

.wrapper{
    float: left;
    text-align:left;
    margin-right: auto;
    padding:10px;
    width: 300px;
}

.portada{
    width: 300px;
    height: 300px;
}
